@section Styles
{
    <link rel="stylesheet" href="~/lib/datatables-bs4/dataTables.bootstrap4.min.css" />

}

@section Scripts
{
    <script src="~/views/Pagging/Index.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables-bs4/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
}

<div class="card">
    <div class="card-header">
        Demo 分頁
    </div>
    <div class="card-body">
        <form class="form-inline" id="formQuery">
            <select name="demo" class="form-control col-4">
                <option value=""></option>
                <option value="a">法官1</option>
                <option value="b">家暴</option>
                <option value="c">法官2</option>
                <option value="d">家暴喔</option>
                <option value="e">法官啦</option>
            </select>
            <button type="button" class="btn btn-primary mb-2" id="btnQuery">Query</button>
        </form>
    </div>

    <div id="resultQuery" class="">
        <table id="example" class="table table-striped table-bordered" style="width:100%">                       
        </table>
    </div>
</div>