@section Scripts
{ 
    <script src="~/views/Pagging/Index.js" asp-append-version="true"></script>
}
<div class="card">
    <div class="card-header">
        Demo 分頁
    </div>
    <div class="card-body">
        <form class="form-inline" id="formQuery">            
            <button type="button" class="btn btn-primary mb-2" id="btnQuery">Query</button>
        </form>
    </div>

    <div id="resultQuery" class="table-responsive">
    </div>    
</div>