@section Styles
{
    <link rel="stylesheet" href="~/lib/datatables-bs4/dataTables.bootstrap4.min.css" />

}

@section Scripts
{
    <script src="~/views/Pagging/Index.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables-bs4/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
}
<div class="card">
    <form id="formQuery">
        <div class="card-header">
            <div class="d-flex">
                <h5>Demo 分頁</h5>
                <div class="ml-auto d-inline">
                    <button type="button" class="btn btn-primary mb-2" id="btnQuery">
                        <i class="fa fa-search"></i>查詢
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="form-group row">
                <label class="col-sm-1 col-form-label">城市</label>
                <select name="city" class="form-control col-3">
                    <option value=""></option>
                    <option value="Bothell">Bothell</option>
                    <option value="Toronto">Toronto</option>
                    <option value="Montreal">Montreal</option>
                </select>
            </div>

        </div>
    </form>

    <div id="resultQuery">
        <table id="tableQuery" class="table table-bordered table-sm table-hover" style="width:100%">
        </table>
    </div>
</div>