@{
    Layout = "";
    ViewData["Title"] = "註冊帳號";
}

@using OWN.Web.Models.Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model RegisterVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/coreui/dist/css/coreui.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="c-app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card p-4">
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div class="card-body">
                                <h1>註冊帳號</h1>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Email" type="text" class="form-control" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="密碼" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="確認密碼" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary px-4">註冊</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/jquery.perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/lib/coreui/dist/js/coreui.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
