<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OWN.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/coreui/dist/css/coreui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="c-app">
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand d-lg-down-none">
            Logo
        </div>
        @* sidebar navigation *@
        @await Component.InvokeAsync("SideBarNav")
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
    </div>
    <div class="c-wrapper">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
                <span class="c-icon c-icon-lg c-header-toggler-icon"></span>
            </button>
            <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
                <span class="c-icon c-icon-lg c-header-toggler-icon"></span>
            </button>
            <ul class="c-header-nav d-md-down-none">
                <li class="c-header-nav-item">
                    <a class="c-header-nav-link" asp-area="" asp-controller="Paging" asp-action="Address">Address List</a>
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </header>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <!-- Main content here -->
                    @RenderBody()
                </div>                
            </main>
        </div>
        <footer class="c-footer">
            <!-- Footer content here -->
            <div class="container">
                2020 - OWN.Web
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/jquery.perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/lib/coreui/dist/js/coreui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
