@* Dropdown Items *@
@model List<OWN.Web.Views.Shared.Components.SideBarNav.SideBarNavVM>
@{
    var getUrl = new Func<string, string>(url =>
    {
        if (string.IsNullOrWhiteSpace(url))
        {
            return "#";
        }

        return url;
    });
}

@foreach (var item in Model)
{
    @if (item.IsFolder)
    {
        <partial name="_Dropdown.cshtml" model="item" />
    }
    else
    {
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="@getUrl(item.Url)">
                <i class="c-sidebar-nav-icon"></i>@item.DisplayName
            </a>
        </li>
    }
}